.collection-list-level {
  .MuiListItem-root {
    .MuiListItemIcon-root {
      min-width: 0;
      margin-right: 10px;
    }

    .MuiListItemText-root {
      margin-right: 20px;
    }
  }

  .new-collection-button {
    color: rgba(0, 0, 0, 0.54);
  }
}